<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}">
    <meta charset="UTF-8">
    <title>主页</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="js/jquery.min.js"></script>
</head>
<body>
<!-- 加载header.html -->
<div th:include="admin/header"></div>
<br><br><br>
<div class="container">
    <div>
        <h4>商品搜索结果</h4>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">商品列表</h3>
        </div>
        <div class="panel-body">
            <div class="table table-responsive">
                <table class="table table-bordered table-hover">
                    <tbody class="text-center">
                    <tr>
                        <th style="text-align:center;">商品ID</th>
                        <th style="text-align:center;">商品名称</th>
                        <th style="text-align:center;">商品类型</th>
                        <th style="text-align:center;">详情</th>
                        <th th:if="${act} == 'updateSelect'">操作</th>
                        <th th:if="${act} == 'deleteSelect'">操作</th>
                    </tr>
                    <tr th:each="gds:${searchGoodsByAdmin}">
                        <td th:text="${gds.id}"></td>
                        <td th:text="${gds.gname}"></td>
                        <td th:text="${gds.typename}"></td>
                        <td>
                            <a th:href="@{goods/detail(id=${gds.id},act=detail)}" target="_blank">详情</a>
                        </td>
                        <td th:if="${act} == 'updateSelect'">
                            <a th:href="@{goods/detail(id=${gds.id},act=update)}" target="_blank">修改</a>
                        </td>
                        <td th:if="${act} == 'deleteSelect'">
                            <a th:href="'javascript:deleteGoods(' + ${gds.id} +')'" >删除</a>
                        </td>
                    </tr>
<!--                    <tr th:if="${act} == 'select'">-->
<!--                        <td colspan="4" align="right">-->
<!--                            <ul class="pagination">-->
<!--                                <li><a>第<span th:text="${currentPage}" ></span>页</a></li>-->
<!--                                <li><a>共<span th:text="${totalPage}" ></span>页</a></li>-->
<!--                                <li>-->
<!--											<span th:if="${currentPage} != 1" >-->
<!--												<a th:href="@{goods/selectAllGoodsByPage(act=select,currentPage=${currentPage - 1})}">上一页</a>-->
<!--											</span>-->
<!--                                    <span th:if="${currentPage} != ${totalPage}" >-->
<!--												<a th:href="@{goods/selectAllGoodsByPage(act=select,currentPage=${currentPage + 1})}">下一页</a>-->
<!--											</span>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr th:if="${act} == 'updateSelect'">-->
<!--                        <td colspan="5" align="right">-->
<!--                            <ul class="pagination">-->
<!--                                <li><a>第<span th:text="${currentPage}" ></span>页</a></li>-->
<!--                                <li><a>共<span th:text="${totalPage}" ></span>页</a></li>-->
<!--                                <li>-->
<!--											<span th:if="${currentPage} != 1" >-->
<!--												<a th:href="@{goods/selectAllGoodsByPage(act=updateSelect,currentPage=${currentPage - 1})}">上一页</a>-->
<!--											</span>-->
<!--                                    <span th:if="${currentPage} != ${totalPage}" >-->
<!--												<a th:href="@{goods/selectAllGoodsByPage(act=updateSelect,currentPage=${currentPage + 1})}">下一页</a>-->
<!--											</span>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr th:if="${act} == 'deleteSelect'">-->
<!--                        <td colspan="5" align="right">-->
<!--                            <ul class="pagination">-->
<!--                                <li><a>第<span th:text="${currentPage}" ></span>页</a></li>-->
<!--                                <li><a>共<span th:text="${totalPage}" ></span>页</a></li>-->
<!--                                <li>-->
<!--											<span th:if="${currentPage} != 1" >-->
<!--												<a th:href="@{goods/selectAllGoodsByPage(act=deleteSelect,currentPage=${currentPage - 1})}">上一页</a>-->
<!--											</span>-->
<!--                                    <span th:if="${currentPage} != ${totalPage}" >-->
<!--												<a th:href="@{goods/selectAllGoodsByPage(act=deleteSelect,currentPage=${currentPage + 1})}">下一页</a>-->
<!--											</span>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </td>-->
<!--                    </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
