<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sean.ebusiness.repository.admin.UserAndOrderAndOutRepository">
	<select id="selectAllUser"  resultType="integer">
		select count(*) from customertable
	</select>
	<!-- 分页查询 -->
	<select id="selectUserByPage"  resultType="Customer">
		select * from customertable limit #{startIndex}, #{perPageSize}
	</select>
	<!-- 在购物车表格中根据用户id查询购物车信息 -->
	<select id="selectCartUser" resultType="map"  parameterType="int" >
		select * from carttable where customer_id = #{id}
	</select>
	<!-- 在orderbasetable中根据用户id查询订单详情 -->
	<select id="selectOrderUser" resultType="map"  parameterType="int">
		select * from orderbasetable where customer_id = #{id}
	</select>
	<!-- 根据用户id删除某个用户 -->
	<delete id="deleteUser" parameterType="int">
		delete from customertable where id = #{id}
	</delete>
	<!-- 查询已有订单的数目 -->
	<select id="selectAllOrder"  resultType="integer">
		select count(*) from orderbasetable 
	</select>
	<!-- 分页查询 -->
	<select id="selectOrderByPage"  resultType="map">
		select obt.*, ct.email from orderbasetable obt, customertable ct where obt.customer_id = ct.id limit #{startIndex}, #{perPageSize}
	</select>
	<!-- 后台根据用户email查询订单 -->
	<select id="searchOrderByAdmin" resultType="map" parameterType="String">
	select obt.*, ct.email from orderbasetable obt, customertable ct where ct.email = #{customerEmail}
	</select>
</mapper>